*.o
*.mod 
postprocess_africa.py
postprocess_backup.py
.env
autorun*.sh
cron_both.sh
cron_eu.sh
cron_global.sh
fix_eu.sh
fix_global.sh
flexpartset_both_14C.sh
flexpartset_eu_14C.sh
flexpartset_global_14C.sh
flexpartset_global_africa.sh
flexpartset_nest.sh
flexpartset.sh
run_africa_global.sh
runmonthly.sh
__pycache__/
